body {
    background-image: url(bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}


.nav {
    text-align: right;
    margin-right: 0px;
    cursor: pointer;
    font-size:20px;
}

.realnav {
    text-align: center;
    padding: 20px;
    display:none;
    background-color:gold;
    border-radius: 40px;
    font-family: 'Times New Roman', Times, serif;
    width: 150px;
    margin-left: auto;
    height: 170px;
    font-size: 17px;
    font-weight: bold;
}

a {
    text-decoration:none;
    color: red;
}



h1 {
color: white;
margin: 0;
padding: 0;
}

h2 {
    font-size: 50px;
}



#current-time {
    text-align: left;
    margin-left:0px;
    margin-top:10px;
    position: absolute;
    cursor: pointer;
    color:gold;
    font-size:10px;
    font-family:'Times New Roman', Times, serif;
    background-color: black;
    border-radius: 2px;
    width: 100px;
    text-align: center;
    font-weight: bold;
   
  }

  #current-time:hover {
    text-align: left;
    margin-left:0px;
    position: absolute;
    cursor: zoom-in;
    color:white;
    font-size:20px;
    font-family:'Times New Roman', Times, serif;
    background-color: purple;
    border-radius: 2px;
    width: 100px;
    text-align: center;
    font-weight: bold;
   
  }

  footer{
    color: black;
}

b{
    color:gold;
    font-size: 20px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight:bold;
}

button {
    margin: 1px;
    padding:5px;
    background-color: gold;
    border-color: gold;
    color: purple;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 20px;
    width: 150px;
    height: 150px;
    border-radius: 30px;
    
}

.sp{
    color:purple;
}

.sp:hover{
    color: black;
    font-weight: bold;
}

.box-container{
    background-color: white;
    border-radius: 30px;
    margin: 40px;
    padding: 20px;
    text-align: center;
}

.box-content {
    margin: 20px;
    padding: 10px;
    align-content: center;
    text-align: center;
    justify-content: center;
    align-self: center;
    align-items: center;
}